{erl_opts, [debug_info]}.
{deps, [{riakc, "3.0.*", {git, "https://github.com/basho/riak-erlang-client", {tag, "3.0.8"}}, {amqp_client, "4.12.0"}},
        {cowboy, "2.11.0"},
        {jiffy, "1.1.1", {git, "https://github.com/davisp/jiffy", {tag, "1.1.1"}}}
        ]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [tpf_cowboy]}
]}.
